.review-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.item {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 8px;
    border: 1px solid #EEEEEE;
}

.review-date {
    font-weight: 500;
    color: rgb(177, 173, 173);
}