@media screen and (max-width: 767px) {

    .movie-list__item {
        width: 450px;
    }

    .movie-list__item:not(:last-child) {
        margin-bottom: 30px;
    } 
}


@media screen and (min-width: 768px) {

    .movie-list__item {
        width: 354px;
    }

}


@media screen and (min-width: 1200px)  {
    .movie-list__item {
        width: 370px;
    }

}

.movie-card {
  

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    padding: 16px;
    background-color: #dde6ee;
    height: 364px;
    border: 1px solid #EEEEEE;
    border-radius: 10px;
    transition: box-shadow 250ms linear;
}

.movie-card:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.thumb {
    height: 280px;
   
}

.item-img {
    object-fit: cover;
}

.item-info {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    justify-content: space-between;
  
}

.item-title {
    font-weight: 500; 
    color: black;
    font-style: normal;
    font-size: 18px;
 
}

.item-year {
    color: gray;
    font-size: medium;
}